<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.julia.WingMan" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.julia.WingMan.MyApp">
        <activity android:name="com.julia.WingMan.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.julia.WingMan.MainScreen"></activity>
        <activity android:name="com.julia.WingMan.CreateAccount"></activity>
        <activity android:name="com.julia.WingMan.addTab"></activity>
        <activity android:name="com.julia.WingMan.ViewableDB"></activity>
        <activity android:name="com.julia.WingMan.HomeScreen"></activity>
        <activity android:name="com.julia.WingMan.UpdateInfo"></activity>
        <activity android:name="com.julia.WingMan.Dating"></activity>
        <activity android:name="com.julia.WingMan.Workout"></activity>
        <activity android:name="com.julia.WingMan.Academics"></activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>